.blog {
  width: 100%;
}

.blog > * > p {
  margin: initial;
}

.blog > * {
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
  margin: auto;

  width: 85%;
  min-width: 40vw;
  max-width: min(700px, 95vw);
}

.selector {
  all: initial;
  float: right;
}

img.small {
  max-width: min(40%, min(700px, 95vw) / 2 - 20px);
  min-width: 50px;
}