:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

#root {
  margin: auto;
}

.auto-complete {
  padding-bottom: 1em;
}

.text-field {
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

body {
  margin: auto;
  place-items: top;
  align-self: start;
  min-height: 88vh;
  text-align: center;
}

.MuiButton {
  padding: 1em;
}

.banner {
  padding: 2rem;
  background-color: rgb(88, 88, 88);
  place-items: top;
  min-height: 12vh;
}

.content {
  flex-grow: 1;
  min-height: 80vh;
}

.footer {
  color: rgba(88, 88, 88, 80);
  bottom: 0;
  width: 100%;
  place-items: bottom;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  table-layout: fixed;
}
